@model AirBNBdaWish.Models.Imovel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Imovel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FuncionarioId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FuncionarioId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GestorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GestorId) <!-- Devia trocar para o nome deixar de mostrar ids-->
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rua)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rua)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoPostal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodigoPostal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Localidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Localidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Porta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Porta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)<span> (€)</span>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comodidades)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comodidades)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Gestor"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a><span> |</span>
        <a asp-action="Index">Back to List</a><span> |</span>
        <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    }
    else if (User.IsInRole("Funcionario"))
    {
        <a asp-controller="Reservas" asp-action="Index">Reservas</a><span> |</span>
        <a asp-action="Index">Back to List</a><span> |</span>
        <a asp-action="#">CheckList-Entrega</a><span> |</span>
        <a asp-action="#">CheckList-Receber</a>
    }
    else if (User.IsInRole("Cliente"))
    {
        <a asp-controller="Reservas" asp-action="Create">Reservar</a><span> |</span>
        <a asp-action="Index">Back to List</a>
    }
    else
    {
        <a asp-action="Index">Back to List</a>
    }
</div>
